:root {
    --primary-color: #e94873;
    --text-color: #333;
    --cd-dim: 150px;
    --thumb-dim: 140px;
    --c-width: 5px;
  
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }